<nav class="navbar">
    <a href="/"><h2 class="display-6">Xnovia</h2></a>
    <ul class="nav justify-content-end nav-underline">
        <li class="nav-item"><a class="nav-link" href="/map">Galaxy Map</a></li>
        <li class="nav-item"><a class="nav-link" href="/entries">Pages</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
    <hr>
</nav>