<nav>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stars">Stars</a></li>
        <li><a href="/planets">Planets</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <hr id="navline">
    
</nav>
<p id="bodyline"></p>