<div class="input-group">
    <span class="input-group-text">Search</span>
<input type=text id="search-bar" oninput="Search(document.getElementById('search-bar').value)"/>
</div>
<div id="search-results"></div>