<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
    <main>
    blq
    <p id="pr">old</p>
    <div id="p-container"></div>
    <button onclick="addParagraph('pr')">Add</button>
    <button onclick="buildDocument()"> Build</button>
    <button onclick="connectDB()"> Connect to Database</button>
    <div id="db-upload">
    <button onclick="addParagraph('db-upload')"> Add Paragraph</button>
    </div>
    
</main>
<%- include('partials/footer') %>
</body>
</html>